<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neural Style Transfer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="firstpage">
      <div class="topbar">
        <h1>Neural Style Transfer</h1>
      </div>
      <div class="middlebar">
        <div class="content">
          <div class="content-top">
            <form
              action="/"
              method="post"
              enctype="multipart/form-data"
              id="styleTransferForm1"
            >
              <div class="container1">
                <div class="inputimages">
                  <div class="contentimage">
                    <h2>Content Image</h2>
                    <input
                      type="file"
                      id="contentImageInput"
                      accept="image/*"
                      name="content_image"
                    />
                    <img id="contentImageDisplay" src="" alt="content image" />
                  </div>
                  <div class="styleimage">
                    <h2>Style Image</h2>
                    <input
                      type="file"
                      id="styleImageInput"
                      accept="image/*"
                      name="style_image1"
                    />
                    <img id="styleImageDisplay" src="" alt="style image" />
                  </div>
                </div>

                <div class="buttons">
                  <input
                    type="submit"
                    value="Style Transfer on Image"
                    onclick="startStyleTransfer(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="Style Transfer on background"
                    onclick="startBackgroundStyleTransfer(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="Style Transfer on Image preserving color"
                    onclick="startStyleTransferColorPreserve(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="High Resolution Transfer"
                    onclick="startStyleTransferHighRes(event);showLoading()"
                    class="shadow__btn"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="generatedimage">
            <h2>Generated Image</h2>
            <img
              id="generatedImageDisplay"
              src=""
              alt="generated image"
              onload="hideLoading()"
            />
            <div class="loader">
              <div class="box box0">
                <div></div>
              </div>
              <div class="box box1">
                <div></div>
              </div>
              <div class="box box2">
                <div></div>
              </div>
              <div class="box box3">
                <div></div>
              </div>
              <div class="box box4">
                <div></div>
              </div>
              <div class="box box5">
                <div></div>
              </div>
              <div class="box box6">
                <div></div>
              </div>
              <div class="box box7">
                <div></div>
              </div>
              <div class="ground">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="secondpage">
      <div class="topbar">
        <h1>Mixed Neural Style Transfer</h1>
      </div>
      <div class="middlebar">
        <div class="content">
          <div class="content-top">
            <form
              action="/"
              method="post"
              enctype="multipart/form-data"
              id="styleTransferForm2"
            >
              <div class="container1">
                <div class="inputimages">
                  <div class="contentimage">
                    <h2>Content Image</h2>
                    <input
                      type="file"
                      id="contentImageInput2"
                      accept="image/*"
                      name="content_image2"
                    />
                    <img id="contentImageDisplay2" src="" alt="content image" />
                  </div>
                  <div class="styleimage">
                    <h2>Style Image 1</h2>
                    <input
                      type="file"
                      id="styleImageInput1"
                      accept="image/*"
                      name="style_image1"
                    />
                    <img id="styleImageDisplay1" src="" alt="style image" />

                    <h2>Style Image 2</h2>
                    <input
                      type="file"
                      id="styleImageInput2"
                      accept="image/*"
                      name="style_image2"
                    />
                    <img id="styleImageDisplay2" src="" alt="style image" />
                  </div>
                </div>

                <div class="buttons">
                  <input
                    type="submit"
                    value="Style Transfer on Image"
                    onclick="startStyleTransfer(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="Style Transfer on background"
                    onclick="startBackgroundStyleTransfer(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="Style Transfer on Image preserving color"
                    onclick="startStyleTransferColorPreserve(event);showLoading()"
                    class="shadow__btn"
                  />

                  <input
                    type="submit"
                    value="High Resolution Transfer"
                    onclick="startStyleTransferHighRes(event);showLoading()"
                    class="shadow__btn"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="generatedimage">
            <h2>Generated Image</h2>
            <img
              id="generatedImageDisplay2"
              src=""
              alt="generated image"
              onload="hideLoading()"
            />
            <div class="loader">
              <div class="box box0">
                <div></div>
              </div>
              <div class="box box1">
                <div></div>
              </div>
              <div class="box box2">
                <div></div>
              </div>
              <div class="box box3">
                <div></div>
              </div>
              <div class="box box4">
                <div></div>
              </div>
              <div class="box box5">
                <div></div>
              </div>
              <div class="box box6">
                <div></div>
              </div>
              <div class="box box7">
                <div></div>
              </div>
              <div class="ground">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      function startStyleTransfer(event) {
        console.log("StyleTransfer Started");
        event.preventDefault(); // Prevent form submission
        // Show loading before making the fetch request
        // Show loading spinner

        fetch("/", {
          method: "POST",
          body: new FormData(document.getElementById("styleTransferForm1")),
        })
          .then((response) => {
            if (response.redirected) {
              return fetch("/generated_image");
            }
          })
          .then((response) => {
            if (response && response.ok) {
              document.getElementById("generatedImageDisplay").src =
                "/generated_image";
              // Hide loading after the image is loaded
              // Hide loading spinner
            }
          });
      }

      function startBackgroundStyleTransfer(event) {
        console.log("BStyleTransfer Started");
        event.preventDefault(); // Prevent form submission
        // Show loading spinner

        fetch("/background_style_transfer", {
          method: "POST",
          body: new FormData(document.getElementById("styleTransferForm1")),
        })
          .then((response) => {
            if (response.redirected) {
              return fetch("/generated_background_image");
            }
          })
          .then((response) => {
            if (response && response.ok) {
              document.getElementById("generatedImageDisplay").src =
                "/generated_background_image";
            }
          });
      }

      function startStyleTransferColorPreserve(event) {
        console.log("CPtyleTransfer Started");
        event.preventDefault(); // Prevent form submission
        // Show loading spinner

        fetch("/style_transfer_color_preserve", {
          method: "POST",
          body: new FormData(document.getElementById("styleTransferForm1")),
        })
          .then((response) => {
            if (response.redirected) {
              return fetch("/generated_image_color_preserve");
            }
          })
          .then((response) => {
            if (response && response.ok) {
              document.getElementById("generatedImageDisplay").src =
                "/generated_image_color_preserve";
            }
          });
      }

      function startStyleTransferHighRes(event) {
        console.log("HRtyleTransfer Started");
        event.preventDefault(); // Prevent form submission
        // Show loading spinner

        fetch("/high_resolution_style_transfer", {
          method: "POST",
          body: new FormData(document.getElementById("styleTransferForm1")),
        })
          .then((response) => {
            if (response.redirected) {
              return fetch("/generated_image_high_res");
            }
          })
          .then((response) => {
            if (response && response.ok) {
              document.getElementById("generatedImageDisplay").src =
                "/generated_image_high_res";
            }
          });
      }

      function showLoading() {
        var loadingDiv = document.querySelector(".loader");
        loadingDiv.style.display = "block";
        // document.getElementById("generatedImageDisplay").style.display = "none";
      }

      function hideLoading() {
        var loadingDiv = document.querySelector(".loader");
        loadingDiv.style.display = "none";
        // document.getElementById("generatedImageDisplay").style.display ="block";
      }

      // Check if the image has been loaded successfully
    </script>
  </body>
</html>
